<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predicción de precios de casas en París</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 flex items-center justify-center h-screen">
    <div class="bg-white p-8 rounded-lg shadow-lg max-w-md">
        <h1 class="text-2xl font-bold text-center mb-4">Predicción de precios de casas en París</h1>
        <form id="formulario" onsubmit="enviarDatos(event)" class="space-y-4">
            <div>
                <label for="squareMeters" class="block text-sm font-medium text-gray-700">Metros Cuadrados:</label>
                <input type="text" id="squareMeters" name="squareMeters" class="mt-1 block w-full px-3 py-2 bg-gray-50 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500">
            </div>
            <div>
                <label for="basement" class="block text-sm font-medium text-gray-700">Sótano:</label>
                <input type="text" id="basement" name="basement" class="mt-1 block w-full px-3 py-2 bg-gray-50 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500">
            </div>
            <div>
                <label for="attic" class="block text-sm font-medium text-gray-700">Ático:</label>
                <input type="text" id="attic" name="attic" class="mt-1 block w-full px-3 py-2 bg-gray-50 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500">
            </div>
            <div>
                <label for="cityCode" class="block text-sm font-medium text-gray-700">Código de Ciudad:</label>
                <input type="text" id="cityCode" name="cityCode" class="mt-1 block w-full px-3 py-2 bg-gray-50 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500">
            </div>
            <div class="text-center">
                <input type="submit" value="Enviar" class="cursor-pointer mt-3 w-full inline-flex items-center justify-center px-4 py-2
